.main-canvas {
    height: 50vw;
    width: 80vw;
    margin-left: 7.8vw;
    padding-top: 4.5vw;
    padding-left: 3.3vw;
    background-color: rgb(141, 177, 141);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pieces {
    height: 15vw;
    width: 25vw;
    margin: 7.33px;
    font-size: 60px;
    text-align: center;
    border-radius: 13px;
    display: inline-block;
    background-image: linear-gradient(white,white, white, white, rgb(199, 199, 199));
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.column {
    display: inline;
    color: rgb(110, 91, 91);
}

.pieces:hover {
    color:darkcyan;
    outline: solid 2px black;
    background-image: linear-gradient(black, black);
}

#choice-button0:hover{
    width: 40vw;
    height: 80.013%;
    outline: solid 4px darkred;
}

#choice-button1:hover{
    height: 80.013%;
    width: 40vw;
    outline: solid 6.13px darkblue;
}
